---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    body:
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Tue, 17 Dec 2013 18:40:02 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-3497408-3497716 NNNY CT(200 202 0) RT(1387305600895 539) q(0 0 4 0) r(4
        7) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Tue, 17 Dec 2013 18:40:03 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Tue, 17 Dec 2013 18:40:03 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-3498335-3498462 NNNY CT(193 217 0) RT(1387305602232 162) q(0 0 5 0) r(5
        7) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Tue, 17 Dec 2013 18:40:04 GMT
recorded_with: VCR 2.7.0
