---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"588.64","Best Bid":"581.87","Best Ask":"592.71"}'
  recorded_at: Mon, 24 Mar 2014 01:13:01 GMT
- request:
    method: get
    uri: https://btc-e.com/api/2/btc_usd/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":577,"low":561.21503,"avg":569.107515,"vol":1378796.15736,"vol_cur":2423.35249,"last":563.988,"buy":564.989,"sell":563.988,"updated":1395623580,"server_time":1395623581}}'
  recorded_at: Mon, 24 Mar 2014 01:13:01 GMT
recorded_with: VCR 2.8.0
