---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"625.01","Best Bid":"625.01","Best Ask":"637.97"}'
  recorded_at: Mon, 23 Dec 2013 16:50:37 GMT
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"685.99999","value_int":"68599999","display":"$686.00","display_short":"$686.00","currency":"USD"},"low":{"value":"630.00000","value_int":"63000000","display":"$630.00","display_short":"$630.00","currency":"USD"},"avg":{"value":"662.16460","value_int":"66216460","display":"$662.16","display_short":"$662.16","currency":"USD"},"vwap":{"value":"662.16864","value_int":"66216864","display":"$662.17","display_short":"$662.17","currency":"USD"},"vol":{"value":"12449.81724962","value_int":"1244981724962","display":"12,449.82\u00a0BTC","display_short":"12,449.82\u00a0BTC","currency":"BTC"},"last_local":{"value":"665.78999","value_int":"66578999","display":"$665.79","display_short":"$665.79","currency":"USD"},"last_orig":{"value":"665.78999","value_int":"66578999","display":"$665.79","display_short":"$665.79","currency":"USD"},"last_all":{"value":"665.78999","value_int":"66578999","display":"$665.79","display_short":"$665.79","currency":"USD"},"last":{"value":"665.78999","value_int":"66578999","display":"$665.79","display_short":"$665.79","currency":"USD"},"buy":{"value":"660.80021","value_int":"66080021","display":"$660.80","display_short":"$660.80","currency":"USD"},"sell":{"value":"665.78996","value_int":"66578996","display":"$665.79","display_short":"$665.79","currency":"USD"},"item":"BTC","now":"1387817429741903"}}'
  recorded_at: Mon, 23 Dec 2013 16:50:37 GMT
recorded_with: VCR 2.8.0
