---
http_interactions:
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"990.00000","value_int":"99000000","display":"$990.00","display_short":"$990.00","currency":"USD"},"low":{"value":"882.15864","value_int":"88215864","display":"$882.16","display_short":"$882.16","currency":"USD"},"avg":{"value":"929.35648","value_int":"92935648","display":"$929.36","display_short":"$929.36","currency":"USD"},"vwap":{"value":"930.71887","value_int":"93071887","display":"$930.72","display_short":"$930.72","currency":"USD"},"vol":{"value":"16658.49512372","value_int":"1665849512372","display":"16,658.50\u00a0BTC","display_short":"16,658.50\u00a0BTC","currency":"BTC"},"last_local":{"value":"933.00000","value_int":"93300000","display":"$933.00","display_short":"$933.00","currency":"USD"},"last_orig":{"value":"933.00000","value_int":"93300000","display":"$933.00","display_short":"$933.00","currency":"USD"},"last_all":{"value":"933.00000","value_int":"93300000","display":"$933.00","display_short":"$933.00","currency":"USD"},"last":{"value":"933.00000","value_int":"93300000","display":"$933.00","display_short":"$933.00","currency":"USD"},"buy":{"value":"923.01500","value_int":"92301500","display":"$923.02","display_short":"$923.02","currency":"USD"},"sell":{"value":"932.99500","value_int":"93299500","display":"$933.00","display_short":"$933.00","currency":"USD"},"item":"BTC","now":"1386978350330653"}}'
  recorded_at: Fri, 13 Dec 2013 23:45:59 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Fri, 13 Dec 2013 23:46:01 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 5-187947047-187947137 NNNY CT(197 197 0) RT(1386978360501 172) q(0 0 4 0)
        r(4 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "920.42", "last": "883.00", "timestamp": "1386978349", "bid":
        "879.36", "volume": "14666.53257818", "low": "850.00", "ask": "883.00"}'
  recorded_at: Fri, 13 Dec 2013 23:46:00 GMT
recorded_with: VCR 2.7.0
