---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"582.01","Best Bid":"598.00","Best Ask":"599.99"}'
  recorded_at: Sun, 23 Mar 2014 03:30:11 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"120627-a0-4f53dbbb126b1"'
      Last-Modified:
      - Sun, 23 Mar 2014 03:29:57 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 10-57915944-0 0CNN RT(1395545410761 287) q(0 -1 -1 0) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "571.70", "last": "565.14", "timestamp": "1395545393", "bid":
        "563.11", "vwap": "556.51", "volume": "13035.98901950", "low": "541.00", "ask":
        "567.39"}'
  recorded_at: Sun, 23 Mar 2014 03:30:11 GMT
recorded_with: VCR 2.8.0
