---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 07 Dec 2013 00:26:20 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-194391567-194391674 NNNY CT(200 199 0) RT(1386375979341 154) q(0 0 4 -1)
        r(4 7) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "1033.00", "last": "806.00", "timestamp": "1386375966", "bid":
        "810.01", "volume": "53542.98657805", "low": "796.73", "ask": "818.46"}'
  recorded_at: Sat, 07 Dec 2013 00:26:21 GMT
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"1118.98900","value_int":"111898900","display":"$1,118.99","display_short":"$1,118.99","currency":"USD"},"low":{"value":"800.00000","value_int":"80000000","display":"$800.00","display_short":"$800.00","currency":"USD"},"avg":{"value":"959.10609","value_int":"95910609","display":"$959.11","display_short":"$959.11","currency":"USD"},"vwap":{"value":"946.40403","value_int":"94640403","display":"$946.40","display_short":"$946.40","currency":"USD"},"vol":{"value":"53996.78689676","value_int":"5399678689676","display":"53,996.79\u00a0BTC","display_short":"53,996.79\u00a0BTC","currency":"BTC"},"last_local":{"value":"875.49500","value_int":"87549500","display":"$875.50","display_short":"$875.50","currency":"USD"},"last_orig":{"value":"639.00000","value_int":"63900000","display":"639.00\u00a0\u20ac","display_short":"639.00\u00a0\u20ac","currency":"EUR"},"last_all":{"value":"872.93790","value_int":"87293790","display":"$872.94","display_short":"$872.94","currency":"USD"},"last":{"value":"875.49500","value_int":"87549500","display":"$875.50","display_short":"$875.50","currency":"USD"},"buy":{"value":"863.40001","value_int":"86340001","display":"$863.40","display_short":"$863.40","currency":"USD"},"sell":{"value":"875.48498","value_int":"87548498","display":"$875.48","display_short":"$875.48","currency":"USD"},"item":"BTC","now":"1386375967563898"}}'
  recorded_at: Sat, 07 Dec 2013 00:26:21 GMT
[...]
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 07 Dec 2013 00:26:21 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"high": "1033.00", "last": "818.46", "timestamp": "1386375976", "bid":
        "810.01", "volume": "53542.49489069", "low": "796.73", "ask": "818.46"}'
  recorded_at: Sat, 07 Dec 2013 00:26:22 GMT
recorded_with: VCR 2.7.0
