---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"625.01","Best Bid":"625.01","Best Ask":"637.97"}'
  recorded_at: Mon, 23 Dec 2013 16:49:48 GMT
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"685.99999","value_int":"68599999","display":"$686.00","display_short":"$686.00","currency":"USD"},"low":{"value":"630.00000","value_int":"63000000","display":"$630.00","display_short":"$630.00","currency":"USD"},"avg":{"value":"662.16647","value_int":"66216647","display":"$662.17","display_short":"$662.17","currency":"USD"},"vwap":{"value":"662.16836","value_int":"66216836","display":"$662.17","display_short":"$662.17","currency":"USD"},"vol":{"value":"12450.68479794","value_int":"1245068479794","display":"12,450.68\u00a0BTC","display_short":"12,450.68\u00a0BTC","currency":"BTC"},"last_local":{"value":"655.00000","value_int":"65500000","display":"$655.00","display_short":"$655.00","currency":"USD"},"last_orig":{"value":"489.00000","value_int":"48900000","display":"489.00\u00a0\u20ac","display_short":"489.00\u00a0\u20ac","currency":"EUR"},"last_all":{"value":"667.72950","value_int":"66772950","display":"$667.73","display_short":"$667.73","currency":"USD"},"last":{"value":"655.00000","value_int":"65500000","display":"$655.00","display_short":"$655.00","currency":"USD"},"buy":{"value":"661.50000","value_int":"66150000","display":"$661.50","display_short":"$661.50","currency":"USD"},"sell":{"value":"667.47499","value_int":"66747499","display":"$667.47","display_short":"$667.47","currency":"USD"},"item":"BTC","now":"1387817367194043"}}'
  recorded_at: Mon, 23 Dec 2013 16:49:49 GMT
[...]
