---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"10073f-a0-4f53de978bbb9"'
      Last-Modified:
      - Sun, 23 Mar 2014 03:42:45 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-100669242-0 0CNY RT(1395546171233 187) q(0 -1 -1 0) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "571.70", "last": "563.89", "timestamp": "1395546161", "bid":
        "560.30", "vwap": "556.58", "volume": "13437.79188219", "low": "541.00", "ask":
        "563.43"}'
  recorded_at: Sun, 23 Mar 2014 03:42:51 GMT
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"582.01","Best Bid":"598.00","Best Ask":"599.84"}'
  recorded_at: Sun, 23 Mar 2014 03:42:52 GMT
[...]
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"582.01","Best Bid":"598.00","Best Ask":"599.84"}'
  recorded_at: Sun, 23 Mar 2014 03:42:53 GMT
recorded_with: VCR 2.8.0
