---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Tue, 17 Dec 2013 18:52:04 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 2-306226-306234 NNNY CT(200 200 0) RT(1387306323909 189) q(0 0 4 -1) r(4 7)
        U13
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "750.00", "last": "715.00", "timestamp": "1387306318", "bid":
        "715.00", "volume": "64331.27905889", "low": "612.51", "ask": "716.44"}'
  recorded_at: Tue, 17 Dec 2013 18:52:06 GMT
recorded_with: VCR 2.7.0
