---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/buy
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"21c3685567c83fb6123bfaa4d9ea14f5"'
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"634.03","currency":"USD"},"fees":[{"coinbase":{"amount":"6.34","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"640.52","currency":"USD"},"amount":"640.52","currency":"USD"}'
  recorded_at: Mon, 23 Dec 2013 01:50:01 GMT
[...]
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a2bef70e39b2d17967c8ca9791524579"'
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"632.52","currency":"USD"},"fees":[{"coinbase":{"amount":"6.33","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"626.04","currency":"USD"},"amount":"626.04","currency":"USD"}'
  recorded_at: Mon, 23 Dec 2013 01:50:03 GMT
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a2bef70e39b2d17967c8ca9791524579"'
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"632.52","currency":"USD"},"fees":[{"coinbase":{"amount":"6.33","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"626.04","currency":"USD"},"amount":"626.04","currency":"USD"}'
  recorded_at: Mon, 23 Dec 2013 01:50:05 GMT
recorded_with: VCR 2.8.0
