---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/buy?qty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - <COINBASE_KEY>
      Access-Signature:
      - 5ea031c544bc6321482ae1bd6551c79806cd4bb79cc3d74f34ce6380ddb738c4
      Access-Nonce:
      - '1406308782570980'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"602.93","currency":"USD"},"fees":[{"coinbase":{"amount":"6.03","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"609.11","currency":"USD"},"amount":"609.11","currency":"USD"}'
  recorded_at: Fri, 25 Jul 2014 17:19:43 GMT
[...]
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell?qty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - <COINBASE_KEY>
      Access-Signature:
      - d85b1b9e8c7e6dea0ef3bb84b2bde44e96d768e7a398b9c34300eb1c13bc0f6f
      Access-Nonce:
      - '1406308784234865'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"601.18","currency":"USD"},"fees":[{"coinbase":{"amount":"6.01","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"595.02","currency":"USD"},"amount":"595.02","currency":"USD"}'
  recorded_at: Fri, 25 Jul 2014 17:19:45 GMT
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell?qty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - <COINBASE_KEY>
      Access-Signature:
      - 5e51b4ca5841b3d8a504bd10809838764686f1116ba96c340ccf8ad92a4e4875
      Access-Nonce:
      - '1406308785513824'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"601.18","currency":"USD"},"fees":[{"coinbase":{"amount":"6.01","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"595.02","currency":"USD"},"amount":"595.02","currency":"USD"}'
  recorded_at: Fri, 25 Jul 2014 17:19:46 GMT
recorded_with: VCR 2.8.0
