---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/buy
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a804177e060807151cd66a68563f9ca7"'
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"633.49","currency":"USD"},"fees":[{"coinbase":{"amount":"6.33","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"639.97","currency":"USD"},"amount":"639.97","currency":"USD"}'
  recorded_at: Mon, 23 Dec 2013 01:46:11 GMT
recorded_with: VCR 2.8.0
