---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f6ca8cefd54471be46d774df727e0885"'
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"629.48","currency":"USD"},"fees":[{"coinbase":{"amount":"6.29","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"623.04","currency":"USD"},"amount":"623.04","currency":"USD"}'
  recorded_at: Mon, 23 Dec 2013 01:46:12 GMT
recorded_with: VCR 2.8.0
