---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/sell?qty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - <COINBASE_KEY>
      Access-Signature:
      - b1923f3993e171bfdf3dd079bc22f8a02c9e43c27afbae22597d5814184c44f0
      Access-Nonce:
      - '1406308786559019'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"601.08","currency":"USD"},"fees":[{"coinbase":{"amount":"6.01","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"594.92","currency":"USD"},"amount":"594.92","currency":"USD"}'
  recorded_at: Fri, 25 Jul 2014 17:19:46 GMT
recorded_with: VCR 2.8.0
