---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/prices/buy?qty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Key:
      - <COINBASE_KEY>
      Access-Signature:
      - f04dbaf80cbe0217b1c167979915b075f315cf6077a472733581b16c382bfe70
      Access-Nonce:
      - '1406308780089377'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"subtotal":{"amount":"602.93","currency":"USD"},"fees":[{"coinbase":{"amount":"6.03","currency":"USD"}},{"bank":{"amount":"0.15","currency":"USD"}}],"total":{"amount":"609.11","currency":"USD"},"amount":"609.11","currency":"USD"}'
  recorded_at: Fri, 25 Jul 2014 17:19:42 GMT
recorded_with: VCR 2.8.0
