---
http_interactions:
- request:
    method: post
    uri: https://btc-e.com/tapi
    body:
      encoding: US-ASCII
      string: method=getInfo&nonce=1395624054
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":1,"return":{"funds":{"usd":0,"btc":0,"ltc":0,"nmc":0,"rur":0,"eur":0,"nvc":0,"trc":0,"ppc":0,"ftc":0,"xpm":0},"rights":{"info":1,"trade":1,"withdraw":0},"transaction_count":0,"open_orders":0,"server_time":1395624054}}'
  recorded_at: Mon, 24 Mar 2014 01:20:54 GMT
- request:
    method: post
    uri: https://campbx.com/api/myfunds.php
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Total USD":"1.41","Total BTC":"0.00790000","Liquid USD":"1.41","Liquid
        BTC":"0.00790000","Margin Account USD":"0.00","Margin Account BTC":"0.00000000"}'
  recorded_at: Mon, 24 Mar 2014 01:20:55 GMT
recorded_with: VCR 2.8.0
