---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sun, 23 Mar 2014 03:30:42 GMT
      Content-Type:
      - application/json
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Sun, 23 Mar 2014 03:30:42 GMT
- request:
    method: post
    uri: https://campbx.com/api/myfunds.php
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"Total USD\":\"1.41\",\"Total BTC\":\"0.00790000\",\"Liquid USD\":\"1.41\",\"Liquid
        BTC\":\"0.00790000\",\"Margin Account USD\":\"0.00\",\"Margin Account BTC\":\"0.00000000\"}"
  recorded_at: Sun, 23 Mar 2014 03:30:43 GMT
recorded_with: VCR 2.8.0
