---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"582.01","Best Bid":"598.00","Best Ask":"599.99"}'
  recorded_at: Sun, 23 Mar 2014 03:30:44 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 23 Mar 2014 03:30:40 GMT
      Etag:
      - '"120627-a0-4f53dbe43993c"'
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-47163190-47163247 NNNN CT(148 156 0) RT(1395545444598 256) q(0 0 3 -1) r(3
        6) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "571.70", "last": "565.14", "timestamp": "1395545436", "bid":
        "563.11", "vwap": "556.51", "volume": "13033.39643050", "low": "541.00", "ask":
        "567.39"}'
  recorded_at: Sun, 23 Mar 2014 03:30:46 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sun, 23 Mar 2014 03:30:47 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-47163404-47163547 NNNN CT(148 148 0) RT(1395545445722 506) q(0 0 3 -1) r(3
        6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Sun, 23 Mar 2014 03:30:47 GMT
- request:
    method: post
    uri: https://campbx.com/api/myfunds.php
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"Total USD\":\"1.41\",\"Total BTC\":\"0.00790000\",\"Liquid USD\":\"1.41\",\"Liquid
        BTC\":\"0.00790000\",\"Margin Account USD\":\"0.00\",\"Margin Account BTC\":\"0.00000000\"}"
  recorded_at: Sun, 23 Mar 2014 03:30:48 GMT
recorded_with: VCR 2.8.0
