---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"588.64","Best Bid":"581.87","Best Ask":"595.02"}'
  recorded_at: Mon, 24 Mar 2014 01:21:36 GMT
- request:
    method: get
    uri: https://btc-e.com/api/2/btc_usd/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":577,"low":561.01001,"avg":569.005005,"vol":1400936.05639,"vol_cur":2462.82808,"last":561.288,"buy":561.882,"sell":561.288,"updated":1395624094,"server_time":1395624096}}'
  recorded_at: Mon, 24 Mar 2014 01:21:37 GMT
recorded_with: VCR 2.8.0
