---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"625.01","Best Bid":"625.01","Best Ask":"637.97"}'
  recorded_at: Mon, 23 Dec 2013 16:52:42 GMT
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"685.99999","value_int":"68599999","display":"$686.00","display_short":"$686.00","currency":"USD"},"low":{"value":"630.00000","value_int":"63000000","display":"$630.00","display_short":"$630.00","currency":"USD"},"avg":{"value":"662.15456","value_int":"66215456","display":"$662.15","display_short":"$662.15","currency":"USD"},"vwap":{"value":"662.16657","value_int":"66216657","display":"$662.17","display_short":"$662.17","currency":"USD"},"vol":{"value":"12455.98795853","value_int":"1245598795853","display":"12,455.99\u00a0BTC","display_short":"12,455.99\u00a0BTC","currency":"BTC"},"last_local":{"value":"655.50000","value_int":"65550000","display":"$655.50","display_short":"$655.50","currency":"USD"},"last_orig":{"value":"655.50000","value_int":"65550000","display":"$655.50","display_short":"$655.50","currency":"USD"},"last_all":{"value":"655.50000","value_int":"65550000","display":"$655.50","display_short":"$655.50","currency":"USD"},"last":{"value":"655.50000","value_int":"65550000","display":"$655.50","display_short":"$655.50","currency":"USD"},"buy":{"value":"655.67600","value_int":"65567600","display":"$655.68","display_short":"$655.68","currency":"USD"},"sell":{"value":"664.99500","value_int":"66499500","display":"$665.00","display_short":"$665.00","currency":"USD"},"item":"BTC","now":"1387817551782871"}}'
  recorded_at: Mon, 23 Dec 2013 16:52:42 GMT
recorded_with: VCR 2.8.0
