---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"625.01","Best Bid":"625.01","Best Ask":"637.97"}'
  recorded_at: Mon, 23 Dec 2013 16:52:22 GMT
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"685.99999","value_int":"68599999","display":"$686.00","display_short":"$686.00","currency":"USD"},"low":{"value":"630.00000","value_int":"63000000","display":"$630.00","display_short":"$630.00","currency":"USD"},"avg":{"value":"662.15756","value_int":"66215756","display":"$662.16","display_short":"$662.16","currency":"USD"},"vwap":{"value":"662.16810","value_int":"66216810","display":"$662.17","display_short":"$662.17","currency":"USD"},"vol":{"value":"12454.97895853","value_int":"1245497895853","display":"12,454.98\u00a0BTC","display_short":"12,454.98\u00a0BTC","currency":"BTC"},"last_local":{"value":"655.66600","value_int":"65566600","display":"$655.67","display_short":"$655.67","currency":"USD"},"last_orig":{"value":"68000.000","value_int":"68000000","display":"\u00a568,000","display_short":"\u00a568,000","currency":"JPY"},"last_all":{"value":"650.87621","value_int":"65087621","display":"$650.88","display_short":"$650.88","currency":"USD"},"last":{"value":"655.66600","value_int":"65566600","display":"$655.67","display_short":"$655.67","currency":"USD"},"buy":{"value":"663.55000","value_int":"66355000","display":"$663.55","display_short":"$663.55","currency":"USD"},"sell":{"value":"665.40000","value_int":"66540000","display":"$665.40","display_short":"$665.40","currency":"USD"},"item":"BTC","now":"1387817517954792"}}'
  recorded_at: Mon, 23 Dec 2013 16:52:22 GMT
- request:
    method: post
    uri: https://data.mtgox.com/api/1/generic/info
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"Login":"heynk","Index":"141119","Id":"84fdd298-4386-4d7c-86c0-af74f2e0d0ec","Link":"M82141119X","Rights":["deposit","get_info","merchant","trade","withdraw"],"Language":"en_US","Created":"2012-04-07
        13:52:16","Last_Login":"2013-10-15 20:52:29","Wallets":{"BTC":{"Balance":{"value":"0.00000133","value_int":"133","display":"0.00000133\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Operations":1,"Daily_Withdraw_Limit":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Monthly_Withdraw_Limit":null,"Max_Withdraw":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Open_Orders":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"}},"USD":{"Balance":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"},"Operations":0,"Daily_Withdraw_Limit":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Monthly_Withdraw_Limit":{"value":"10000.00000","value_int":"1000000000","display":"$10,000.00000","display_short":"$10,000.00","currency":"USD"},"Max_Withdraw":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Open_Orders":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"}}},"Monthly_Volume":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Trade_Fee":0.45}}'
  recorded_at: Mon, 23 Dec 2013 16:52:22 GMT
- request:
    method: post
    uri: https://campbx.com/api/myfunds.php
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\r\n{\"Total USD\":\"1.41\",\"Total BTC\":\"0.00790000\",\"Liquid USD\":\"1.41\",\"Liquid
        BTC\":\"0.00790000\",\"Margin Account USD\":\"0.00\",\"Margin Account BTC\":\"0.00000000\"}"
  recorded_at: Mon, 23 Dec 2013 16:52:23 GMT
recorded_with: VCR 2.8.0
