---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"582.01","Best Bid":"598.00","Best Ask":"599.99"}'
  recorded_at: Sun, 23 Mar 2014 03:30:52 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 23 Mar 2014 03:30:51 GMT
      Etag:
      - '"120627-a0-4f53dbeebac97"'
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-47164688-47164746 NNNN CT(148 149 0) RT(1395545452369 264) q(0 0 3 -1) r(3
        6) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "571.70", "last": "565.14", "timestamp": "1395545447", "bid":
        "563.11", "vwap": "556.51", "volume": "13033.39643050", "low": "541.00", "ask":
        "567.39"}'
  recorded_at: Sun, 23 Mar 2014 03:30:53 GMT
recorded_with: VCR 2.8.0
