---
http_interactions:
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"990.00000","value_int":"99000000","display":"$990.00","display_short":"$990.00","currency":"USD"},"low":{"value":"882.15864","value_int":"88215864","display":"$882.16","display_short":"$882.16","currency":"USD"},"avg":{"value":"929.68816","value_int":"92968816","display":"$929.69","display_short":"$929.69","currency":"USD"},"vwap":{"value":"931.05989","value_int":"93105989","display":"$931.06","display_short":"$931.06","currency":"USD"},"vol":{"value":"17088.88588852","value_int":"1708888588852","display":"17,088.89\u00a0BTC","display_short":"17,088.89\u00a0BTC","currency":"BTC"},"last_local":{"value":"949.00000","value_int":"94900000","display":"$949.00","display_short":"$949.00","currency":"USD"},"last_orig":{"value":"949.00000","value_int":"94900000","display":"$949.00","display_short":"$949.00","currency":"USD"},"last_all":{"value":"949.00000","value_int":"94900000","display":"$949.00","display_short":"$949.00","currency":"USD"},"last":{"value":"949.00000","value_int":"94900000","display":"$949.00","display_short":"$949.00","currency":"USD"},"buy":{"value":"936.50000","value_int":"93650000","display":"$936.50","display_short":"$936.50","currency":"USD"},"sell":{"value":"945.49500","value_int":"94549500","display":"$945.50","display_short":"$945.50","currency":"USD"},"item":"BTC","now":"1386979177267333"}}'
  recorded_at: Sat, 14 Dec 2013 00:00:05 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 14 Dec 2013 00:00:07 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 5-188331129-188331195 NNNY CT(191 194 0) RT(1386979206891 179) q(0 0 4 -1)
        r(4 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "920.42", "last": "888.47", "timestamp": "1386979201", "bid":
        "885.98", "volume": "14768.13051071", "low": "850.00", "ask": "888.47"}'
  recorded_at: Sat, 14 Dec 2013 00:00:06 GMT
- request:
    method: post
    uri: https://data.mtgox.com/api/1/generic/info
    body:
      encoding: US-ASCII
      string: nonce=1386979206589124
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"Login":"heynk","Index":"141119","Id":"84fdd298-4386-4d7c-86c0-af74f2e0d0ec","Link":"M82141119X","Rights":["deposit","get_info","merchant","trade","withdraw"],"Language":"en_US","Created":"2012-04-07
        13:52:16","Last_Login":"2013-10-15 20:52:29","Wallets":{"BTC":{"Balance":{"value":"0.00000133","value_int":"133","display":"0.00000133\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Operations":1,"Daily_Withdraw_Limit":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Monthly_Withdraw_Limit":null,"Max_Withdraw":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Open_Orders":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"}},"USD":{"Balance":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"},"Operations":0,"Daily_Withdraw_Limit":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Monthly_Withdraw_Limit":{"value":"10000.00000","value_int":"1000000000","display":"$10,000.00000","display_short":"$10,000.00","currency":"USD"},"Max_Withdraw":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Open_Orders":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"}}},"Monthly_Volume":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Trade_Fee":0.6}}'
  recorded_at: Sat, 14 Dec 2013 00:00:06 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 14 Dec 2013 00:00:08 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 5-188331624-188331712 NNNY CT(200 197 0) RT(1386979207982 172) q(0 0 4 -1)
        r(4 7) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Sat, 14 Dec 2013 00:00:07 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 14 Dec 2013 00:48:53 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 5-189795304-189795403 NNNY CT(195 409 0) RT(1386982132215 179) q(0 0 6 0)
        r(6 9) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "920.42", "last": "880.00", "timestamp": "1386982129", "bid":
        "873.43", "volume": "14636.90472559", "low": "850.00", "ask": "878.77"}'
  recorded_at: Sat, 14 Dec 2013 00:48:52 GMT
recorded_with: VCR 2.7.0
