---
http_interactions:
- request:
    method: get
    uri: https://campbx.com/api/xticker.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Last Trade":"588.64","Best Bid":"581.87","Best Ask":"595.01"}'
  recorded_at: Mon, 24 Mar 2014 01:21:44 GMT
- request:
    method: get
    uri: https://btc-e.com/api/2/btc_usd/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":577,"low":561.01001,"avg":569.005005,"vol":1400936.05639,"vol_cur":2462.82808,"last":561.882,"buy":561.882,"sell":561.288,"updated":1395624104,"server_time":1395624105}}'
  recorded_at: Mon, 24 Mar 2014 01:21:45 GMT
- request:
    method: post
    uri: https://btc-e.com/tapi
    body:
      encoding: US-ASCII
      string: method=getInfo&nonce=1395624105
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":1,"return":{"funds":{"usd":0,"btc":0,"ltc":0,"nmc":0,"rur":0,"eur":0,"nvc":0,"trc":0,"ppc":0,"ftc":0,"xpm":0},"rights":{"info":1,"trade":1,"withdraw":0},"transaction_count":0,"open_orders":0,"server_time":1395624105}}'
  recorded_at: Mon, 24 Mar 2014 01:21:45 GMT
- request:
    method: post
    uri: https://campbx.com/api/myfunds.php
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Total USD":"1.41","Total BTC":"0.00790000","Liquid USD":"1.41","Liquid
        BTC":"0.00790000","Margin Account USD":"0.00","Margin Account BTC":"0.00000000"}'
  recorded_at: Mon, 24 Mar 2014 01:21:46 GMT
recorded_with: VCR 2.8.0
