---
http_interactions:
- request:
    method: get
    uri: https://data.mtgox.com/api/1/BTCUSD/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"high":{"value":"990.00000","value_int":"99000000","display":"$990.00","display_short":"$990.00","currency":"USD"},"low":{"value":"882.15864","value_int":"88215864","display":"$882.16","display_short":"$882.16","currency":"USD"},"avg":{"value":"929.85051","value_int":"92985051","display":"$929.85","display_short":"$929.85","currency":"USD"},"vwap":{"value":"931.14105","value_int":"93114105","display":"$931.14","display_short":"$931.14","currency":"USD"},"vol":{"value":"17098.42923413","value_int":"1709842923413","display":"17,098.43\u00a0BTC","display_short":"17,098.43\u00a0BTC","currency":"BTC"},"last_local":{"value":"936.91051","value_int":"93691051","display":"$936.91","display_short":"$936.91","currency":"USD"},"last_orig":{"value":"936.91051","value_int":"93691051","display":"$936.91","display_short":"$936.91","currency":"USD"},"last_all":{"value":"936.91051","value_int":"93691051","display":"$936.91","display_short":"$936.91","currency":"USD"},"last":{"value":"936.91051","value_int":"93691051","display":"$936.91","display_short":"$936.91","currency":"USD"},"buy":{"value":"936.91051","value_int":"93691051","display":"$936.91","display_short":"$936.91","currency":"USD"},"sell":{"value":"939.99999","value_int":"93999999","display":"$940.00","display_short":"$940.00","currency":"USD"},"item":"BTC","now":"1386979853545522"}}'
  recorded_at: Sat, 14 Dec 2013 00:11:15 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 14 Dec 2013 00:11:18 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-267125833-267125990 NNNY CT(194 197 0) RT(1386979877303 200) q(0 0 3 -1)
        r(3 5) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "920.42", "last": "881.01", "timestamp": "1386979871", "bid":
        "880.58", "volume": "14742.57748152", "low": "850.00", "ask": "881.01"}'
  recorded_at: Sat, 14 Dec 2013 00:11:17 GMT
- request:
    method: post
    uri: https://data.mtgox.com/api/1/generic/info
    body:
      encoding: US-ASCII
      string: nonce=1386979877064995
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","return":{"Login":"heynk","Index":"141119","Id":"84fdd298-4386-4d7c-86c0-af74f2e0d0ec","Link":"M82141119X","Rights":["deposit","get_info","merchant","trade","withdraw"],"Language":"en_US","Created":"2012-04-07
        13:52:16","Last_Login":"2013-10-15 20:52:29","Wallets":{"BTC":{"Balance":{"value":"0.00000133","value_int":"133","display":"0.00000133\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Operations":1,"Daily_Withdraw_Limit":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Monthly_Withdraw_Limit":null,"Max_Withdraw":{"value":"100.00000000","value_int":"10000000000","display":"100.00000000\u00a0BTC","display_short":"100.00\u00a0BTC","currency":"BTC"},"Open_Orders":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"}},"USD":{"Balance":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"},"Operations":0,"Daily_Withdraw_Limit":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Monthly_Withdraw_Limit":{"value":"10000.00000","value_int":"1000000000","display":"$10,000.00000","display_short":"$10,000.00","currency":"USD"},"Max_Withdraw":{"value":"1000.00000","value_int":"100000000","display":"$1,000.00000","display_short":"$1,000.00","currency":"USD"},"Open_Orders":{"value":"0.00000","value_int":"0","display":"$0.00000","display_short":"$0.00","currency":"USD"}}},"Monthly_Volume":{"value":"0.00000000","value_int":"0","display":"0.00000000\u00a0BTC","display_short":"0.00\u00a0BTC","currency":"BTC"},"Trade_Fee":0.6}}'
  recorded_at: Sat, 14 Dec 2013 00:11:17 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/balance/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Sat, 14 Dec 2013 00:11:19 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-267126664-267126809 NNNY CT(195 194 0) RT(1386979878484 170) q(0 0 4 -1)
        r(4 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0", "fee": "0.5000", "btc_available": "0", "usd_reserved":
        "0", "btc_balance": "0", "usd_balance": "0.00", "usd_available": "0.00"}'
  recorded_at: Sat, 14 Dec 2013 00:11:18 GMT
[...]
- request:
    method: get
    uri: https://www.bitstamp.net/api/ticker/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Wed, 18 Dec 2013 16:05:37 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 6-64948554-64948783 NNNY CT(194 193 0) RT(1387382736888 198) q(0 0 4 0) r(4
        6) U13
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "718.00", "last": "558.01", "timestamp": "1387382716", "bid":
        "558.01", "volume": "116665.49784212", "low": "382.21", "ask": "560.00"}'
  recorded_at: Wed, 18 Dec 2013 16:05:38 GMT
recorded_with: VCR 2.7.0
